# Supabase Connection details
SUPABASE_URL=
SUPABASE_KEY=

# LLM Configuration
LLM_PROVIDER=
GROQ_API_KEY=
GROQ_MODEL=
OLLAMA_MODEL=

# Brain Auth Key (For communication between Node.js backend and Python backend)
BRAIN_API_KEY=

# Node.js backend URL
NODE_BACKEND_URL=
